<p>
    Challenge Description: We host a 10-week-long challenge based on the <a
        href="https://tum-traffic-dataset.github.io/tumtraf-v2x/">TUMTraf V2X Cooperative Perception Dataset</a> (<a
        href="https://ieeexplore.ieee.org/document/10658179">CVPR'24</a>) which includes high-quality, real-world V2X
    perception data for the cooperative 3D object detection and tracking task in autonomous driving.
    <br>
    Our TUMTraf V2X dataset contains:<br>
<ul>
    <li>Data collected by 9 sensors simultaneously from onboard and roadside sensors.</li>
    <li>2,000 labeled point clouds and 5,000 labeled images.</li>
    <li>30k 3D bounding boxes with track IDs.</li>
    <li>Challenging scenarios: near-miss and traffic violation events, overtaking and U-turn maneuvers.</li>
    <li>HD maps of the driving domains.</li>
    <li>Labels in OpenLABEL standard.</li>
    <li>A dev kit to load, preprocess, visualize, convert labels, and to evaluate perception methods.</li>
</ul>
<br>
The dataset is available <a href="https://innovation-mobility.com/en/project-providentia/a9-dataset/#anchor_release_4">here</a>. We provide a
<a href="https://github.com/tum-traffic-dataset/tum-traffic-dataset-dev-kit">dataset development
    kit</a> to work with the dataset.

</br>
</br>
<b>Challenge Awards:</b></br>
<ul>
    <li><b>🏆 Challenge Winner Award (1st Place):</b> Gold medal & prize money (<b>$500</b> in cash) 💰</li>
    <li><b>🥈 Challenge Runner-up Award (2nd Place):</b> Silver medal & prize money (<b>$300</b> in cash) 💰</li>
    <li><b>🥉 Challenge Third Place Award (3rd Place):</b> Bronze medal & prize money (<b>$200</b> in cash) 💰</li>
</ul>

</p>

