<p>
    The dataset dev kit code and TUMTraf V2X Cooperative Perception dataset are provided under the
    terms of the <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons
    Attribution-NonCommercial-NonDisclosure 4.0 International Public License</a> (“CC BY-NC-ND
    4.0”), with the additional terms included herein. When you download or use the datasets from the website or
    elsewhere, you are agreeing to comply with the terms of CC BY-NC-ND 4.0, and also agreeing to the dataset terms.
    This dataset development kit code and TUMTraf V2X Cooperative Perception dataset files are used only for
    non-commercial purposes such as academic research,
    teaching, or scientific publications. For business cooperation, please contact <a href="walter.zimmer@cs.tum.edu">walter.zimmer@cs.tum.edu</a>.
</p>
